body { background: #f4f6f8; }
#root ~ div {opacity: 0!important;pointer-events: none!important;}

.nobg { background: none; }
.loading { pointer-events: none; display: inline-block; vertical-align: middle; margin-top: -2px; }
.loading .badge { display: inline-block; vertical-align: middle; margin-top: -2px; width: 15px; height: 15px; padding: 0; border: 3px solid #fff; border-right-color: transparent; border-top-color: transparent; border-radius: 50%; -webkit-animation: rotate .5s linear 0s infinite; -moz-animation: rotate .5s linear 0s infinite;  -ms-animation: rotate .5s linear 0s infinite;  -o-animation: rotate .5s linear 0s infinite; animation: rotate .5s linear 0s infinite; }
.loading + .btn { margin-left: 10px; }

.loading-skeleton { -webkit-backface-visibility: hidden; backface-visibility: hidden; will-change: opacity; animation: skeleton .8s linear infinite alternate; }
.loading-skeleton div { height: .5rem; background-color: #dfe3e8; border-radius: 3px; }
.loading-skeleton div + div { margin-top: .6rem }
.loading-skeleton div:last-child { width: 80%; }

@-webkit-keyframes rotate { 100% { transform: rotate(1turn); } }
@-moz-keyframes rotate {	100% { transform: rotate(1turn); } }
@-ms-keyframes rotate {	100% { transform: rotate(1turn); } }
@-o-keyframes rotate {	100% { transform: rotate(1turn); } }
@keyframes rotate {	100% { transform: rotate(1turn); } }

@-webkit-keyframes skeleton { 0% { opacity: .45; } 100% { opacity: .9; } }
@-moz-keyframes skeleton { 0% { opacity: .45; } 100% { opacity: .9; } }
@-ms-keyframes skeleton { 0% { opacity: .45; } 100% { opacity: .9; } }
@-o-keyframes skeleton { 0% { opacity: .45; } 100% { opacity: .9; } }
@keyframes skeleton { 0% { opacity: .45; } 100% { opacity: .9; } }

.avatar { background: none; }
.processing { opacity: .4; pointer-events: none; background: #f6f9fc; }
.disabled { opacity: .4; pointer-events: none; }
.pointer-disabled { pointer-events: none; }

.w-10 { width: 10%!important; }
.w-20 { width: 20%!important; }
.w-30 { width: 30%!important; }
.w-40 { width: 40%!important; }
.w-60 { width: 60%!important; }
.w-70 { width: 70%!important; }
.w-80 { width: 80%!important; }
.w-90 { width: 90%!important; }

.table.text-wrap td, .table.text-wrap th { white-space: normal!important }
.info { position: absolute; bottom: 25px; left: 15px; }
@media (min-width: 768px) { .info { left: 39px; } }

.modal-body .close { position: absolute; top: 15px; right: 15px; }
.modal-body .card-body { max-height: 40vh; overflow-x: hidden; }
.modal.fade, .modal-backdrop.fade { visibility: hidden }
.modal.fade.show, .modal-backdrop.fade.show { visibility: visible }

.toast { position: fixed; opacity: 0; visibility: hidden; bottom: 25px;left: 50%; border-radius: 5px; transition: all .3s ease; transform: translate(-50%, 25px); max-width: 300px; font-size: 20px; padding: 10px 20px; background: rgba(0,0,0,.88); color: #fff; box-shadow: 0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15); }
.toast.active { opacity: 1; visibility: visible; transform: translate(-50%, 0); }
.toast.alert { background: rgba(191,7,17,.88); }

.btn.btn-icon-only:not(:last-child) { margin-right: 0 }